body {
  font-family: Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
  border: 2px solid #800000;
}

header {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #f2d59b, #ffffff, #f2d59b);
  padding: 10px;
}

.logo {
  width: 80px;
  margin-right: 15px;
}

.title-block h1 {
  margin: 0;
  font-size: 28px;
}

.title-block h2 {
  margin: 0;
  font-style: italic;
  font-size: 18px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #664444;
}

nav li {
  margin: 0;
}

nav a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #553333;
}

main {
  display: flex;
  padding: 15px;
}

aside {
  width: 30%;
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

aside h2 {
  margin-top: 0;
}

.month {
  font-weight: bold;
}

aside img {
  width: 90px;
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 3px double #800000;
}

section {
  width: 70%;
  padding-left: 20px;
}

blockquote {
  font-style: italic;
  margin-left: 0;
  padding-left: 10px;
  border-left: 3px solid #800000;
}

.featured {
  width: 180px;
  float: right;
  margin-left: 10px;
  border: 3px double #800000;
}

footer {
  background-color: #800000;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

:root {
  --menu-light: #fff;
  --menu-mid: antiquewhite;
  --menu-dark: #553333;
  --accent: #664444;
}

.navbar {
  background-color: var(--accent);
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu > li {
  flex-basis: 20%;
  text-align: center;
  position: relative; 
}

.menu a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--menu-light);
  margin: 0 1px 2px;
}


.menu a:hover,
.menu a:focus,
.menu a.current {
  background-color: var(--menu-mid);
  color: var(--menu-dark);
}


.has-sub small {
  margin-left: 5px;
}


.submenu {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--accent);
  display: none; 
  z-index: 1000;
}

.has-sub:hover > .submenu {
  display: block;
}

.submenu li a {
  margin: 0 2px 2px;
  padding: 0.75em;
  display: block;
}


.menu > li:first-child a { margin-left: 0; }
.menu > li:last-child a { margin-right: 0; }


@media (max-width: 700px) {
  .menu {
    flex-direction: column;
  }

  .menu > li {
    flex-basis: 100%;
  }

  .submenu {
    position: static;  
  }
}
