body {
  font-family: Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
  border: 2px solid #800000;
}

header {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #f2d59b, #ffffff, #f2d59b);
  padding: 10px;
}

.logo {
  width: 80px;
  margin-right: 15px;
}

.title-block h1 {
  margin: 0;
  font-size: 28px;
}

.title-block h2 {
  margin: 0;
  font-style: italic;
  font-size: 18px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #664444;
}

nav li {
  margin: 0;
}

nav a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #553333;
}

main {
  display: flex;
  padding: 15px;
}

aside {
  width: 30%;
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

aside h2 {
  margin-top: 0;
}

.month {
  font-weight: bold;
}

aside img {
  width: 90px;
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 3px double #800000;
}

section {
  width: 70%;
  padding-left: 20px;
}

blockquote {
  font-style: italic;
  margin-left: 0;
  padding-left: 10px;
  border-left: 3px solid #800000;
}

.featured {
  width: 180px;
  float: right;
  margin-left: 10px;
  border: 3px double #800000;
}

footer {
  background-color: #800000;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
