:root {
    --light: #fff;
    --mid: #f7e6c4;
    --dark: #4b2e2e;
    --accent: #663333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    padding: 1rem;
    border-bottom: 2px solid #a00;
    background: linear-gradient(to right, white, #f0c893);
}

header img {
    float: left;
    margin-right: 15px;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-weight: normal;
    color: #660000;
}

.navbar {
    background-color: var(--accent);
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    position: relative;
    flex-basis: 20%;
    text-align: center;
}

.menu a {
    display: block;
    padding: 1rem;
    color: var(--light);
    text-decoration: none;
    margin: 0 1px 2px;
}

.menu a:hover,
.menu a:focus,
.menu a.current {
    background: var(--mid);
    color: var(--dark);
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: var(--accent);
    padding: 0;
    list-style: none;
}

.has-sub:hover .submenu {
    display: block;
}

.submenu li a {
    margin: 0 2px 2px;
}

.menu > li:first-child a {
    margin-left: 0;
}
.menu > li:last-child a {
    margin-right: 0;
}

main {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
}

aside {
    width: 30%;
}

aside img {
    width: 100px;
}

section {
    width: 70%;
}

blockquote {
    font-style: italic;
    margin-left: 1rem;
}

@media (max-width: 800px) {
    main {
        flex-direction: column;
    }
    aside, section {
        width: 100%;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        flex-basis: auto;
    }
}
    
footer {
    text-align: center;
    background: #600;
    color: white;
    padding: 0.5rem;
    margin-top: 2rem;
}
